<h1>Hello world</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<a href="/demo/hello">Hello page 1</a>
<%= link_to('Go to hello page','/demo/hello') %> <!-- is a helper method --><br>
<%= link_to('Hello with parameters',{:action => 'hello',:page=>5,:id=>20}) %>
<%= link_to('Roar','#',:onclick => "roar('Javascript');return true; ")%>